@import "sections.css";
@import "syntax.css";

:root {
    --keyword: #4FC8AF;
    --var: #C99E28;
    --comment: #4B4D4B;
    --link-hover: #24BBED;
}

html {
    font-family: "Consolas", "Menlo", monospace;
    font-size: 35px;

    text-align: center;

    color: #B3B3B3;
    background-color: #1E1E1E;
}

h1 {
    font-size: 110px;
    font-weight: normal;
}