@import "colors.css";
@import "sections.css";
@import "syntax.css";

html {
    font-family: "Consolas", "Menlo", monospace;
    font-size: 35px;

    text-align: center;

    color: var(--default);
    background-color: #1E1E1E;
}

h1 {
    font-size: 110px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}