/* "Syntax" and highlighting-related styling. */
@import "colors.css";

a,
h1 {
    color: var(--keyword);
}

h1::before {
    content: "<";
    color: var(--default);
}

h1::after {
    content: ">";
    color: var(--default);
}

a:hover {
    color: var(--link-hover);
}

span.var {
    color: var(--var);
}

span.var::before {
    content: "let ";
    color: var(--keyword);
}